div#BookReader {
  position: static;
  overflow-y: hidden;
}
div#BRtoolbar {
  position: relative;
  margin-bottom: -40px;
}
div#BRcontainer {
  position: relative;
  height: 680px;
}
div#BRnav {
  position: relative;
  margin-top: -40px;
}
div.BRpagediv1up {
 overflow: visible;
}
.BRicon.full_text {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/BRicons.png);
  background-repeat: no-repeat;
  background-position: -1240px 0px;
}
.BRicon.full_text:hover {
  background-position: -1280px 0px;
}
.textTop {
  font-size: 10px;
}
.textRight {
  float: right;
  width: 270px;
}
.textLeft {
  float: left;
  width: 270px;
}